{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}
    About Rango
{% endblock title_block %}
    
{% block body_block %}

    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Rango says...</h1>
            <div>
                <h2 class="h2">
                    here is the about page. <br />
                </h2>
                <strong>{{ boldmessage }}</strong><br />
                Visits: {{ visits }}
            </div>
        </div>
    </div>
    
    <div class="text-center">
        <button class="btn btn-primary" id="about-btn">
            Click me - I'm using JQuery!
        </button>
        <br />
    
        <img src="{% static 'images/rango.jpg' %}" height="300" width="300" alt="Picture of Rango" class=""/>
        <img src="{{ MEDIA_URL }}cat.jpg" height="300" width="300" alt="Picture of a Cat." class=""/>

        <p>
            This is some text for the JQuery example.
        </p>

        <div id="msg">
            Hello! I'm a further example for JQuery testing.
        </div>
        
    </div>

{% endblock body_block %}
    


